*{
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
 
}

ul {
    list-style-type: none;
}

a {
    color: #141414;
    text-decoration: none;
}

input,textarea {
    outline: none;
}
table {
    border-collapse: collapse;
}

:root {
    --main-border-color:rgb(219, 219, 219);
}

header {
    display: flex;
    justify-content: space-between;

    padding: 0px 34px;
    height: 74px;
    border-bottom: 1px solid var(--main-border-color);
}

header div {
    padding: 20px 0px;
}

.header-logo {
    height: 35px;
}
.header-left {
    display: flex;
    align-items: center;
}

header p {
    font-size: 17px;
    font-weight: 500;

    margin: 0px 11px;
}

.header-right {
    display: flex;
    align-items: center;
    
}

.header-right img {
    margin: 0px 10px;
}

main {
   
    display: flex;
    margin: 0px auto;
    width: 1272px;

}

.main-article {
    margin: 0px 8px;
    margin-top: 50px;
    border: 1px solid var(--main-border-color);
    border-radius: 13px;
    width: 636px;
    height: 343px;
    
}

.main-article-right {
    background-color: #fdfdfd;
}
