*{
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
}

#container {
    display: inline-block;
    margin: 0px auto;
    width: 1280px;
    height: 267px;
}

.category-box{
    display: flex;
    justify-content: space-between;
}

.search-box{
    display: flex;
    justify-content: center;
}

.search-box-input{
    display: flex;
    align-items: center;
    width: 706px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #03c75a;
}

.search-box-logo{
    display: flex;
    justify-content: center;
    width: 67px;
    padding: 17px 16px 17px 27px;
}
.search-box-inputBox{
    display: flex;
    align-items: center;
}

.search-box-input-input{
    border: 0px;
    width: 480px;
    font-size: 24px;
    text-decoration: none;
    outline: none;    
}

.search-box-input-keyboard{
    margin-left: 60px;
}

.naver-category{
    display: flex;
    justify-content: center;
}

.naver-senterCategory{
    padding-top: 20px;
    width: 646px;
    display: flex;
    justify-content: space-between;
}

.naver-subCategory{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 44px;
    height: 44px;
    border-radius: 12px;
    border: 1px solid #909aab;
}

.category-font {
    display: flex;
    justify-content: center;
    font-size: 15px;
}